<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div style="margin: auto;">
      <h2><b>Listado de Usuarios</b></h2>
      <br>
      <button class="succesbutton" icon="fa fa-plus" label="Agregar" type="button" pButton (click)="add()"
        data-toggle="tooltip">Agregar</button>
      <br><br>
      <p-table [columns]="columnas" [value]="listUsuarios" [paginator]="true" [rows]="10" paginatorPosition="bottom"
        [loading]="cargando" [responsive]="true" [tableStyle]="{'min-width': '80vw','margin': 'auto'}">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" [pSortableColumnDisabled]="!col.sort"
              class="text-center col-header">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
          <tr [pSelectableRow]="row">
            <td class="block text-center col-column">{{ row.codCli }}</td>
            <td class="block text-center col-column">{{ row.nomCli }}</td>
            <td class="block text-center col-column">{{ row.tipIde }}</td>
            <td class="block text-center col-column">{{ row.nitCli }}</td>
            <td class="block text-center col-column">{{ row.digVer }}</td>
            <td class="block text-center col-column">{{ row.codCiu }}</td>
            <td class="block text-center col-column">{{ row.codDep }}</td>
            <td class="block text-center col-column">{{ row.codPai }}</td>
            <td class="block text-center col-column">{{ row.di1Cli }}</td>
            <td class="block text-center col-column">{{ row.te1Cli }}</td>
            <td class="block text-center col-column">{{ row.tipCli }}</td>
            <td class="block text-center col-column">{{ row.fecIng | date :'dd/MM/yyyy'}}</td>
            <td class="block text-center col-column">{{ row.eMail }}</td>
            <td class="block text-center col-column">{{ row.ap1Cli }}</td>
            <td class="block text-center col-column">{{ row.nom1Cli }}</td>
            <td class="block text-center col-column">{{ row.tipPer }}</td>
            <td class="block text-center col-column">{{ row.estCli }}</td>
            <td class="block text-center col-column">{{ row.codCliExtr }}</td>
            <td class="block text-center col-column">{{ row.pagWeb }}</td>
            <td class="block text-center col-column">
              <button type="button" icon="fa fa-pencil" class="succesbutton" data-toggle="tooltip" title="Editar"
                pButton (click)="edit(row.codCli)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="columnas.length" class="text-center" style="font-size: 1.5em;">No Hay Datos Para Mostrar
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>